<style>
  .main {
    height: 80vh;
    display: flex;
  }

  .thanks-container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto auto;
  }

  .thanks-messenger {
    margin: auto;
  }

  .done {
    font-size: 1.4rem;
  }

  .done a {
    display: block;
  }
</style>
<div class="main">
  <div class="thanks-container">
    <h1 class="thanks-messenger">Thank you for purchased.</h1>
    <h1 class="thanks-messenger">We will call you soon.</h1>
    <br><br>
    <button class="done"><a href="/">Done</a></button>
  </div>
</div>
